<div class="container-detail">
  <mat-progress-spinner *ngIf="loading"></mat-progress-spinner>
  <mat-card *ngIf="!loading">
    <mat-card-header>
      <img mat-card-avatar [src]="character.image" [alt]="character.name" />
      <mat-card-title>{{ character.name }}</mat-card-title>
      <mat-card-subtitle
        >{{ character.species }} - {{ character.status }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <label> Last known location: </label>
      <p>{{ character.location.name }}</p>
      <label> First seen in: </label>
      <p>{{ episodes[0].name }}</p>
      <h4>Episodes</h4>
      <div class="container-list">
        <mat-selection-list [multiple]="false">
          <mat-list-option
            *ngFor="let episode of episodes"
            [value]="episode"
            (click)="onEpisodeClick(episode.id)"
          >
            {{ episode.name }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
