<div class="container">
  <div class="mb-2 w-100">
    <mat-card>
      <mat-card-header>
        <h2>Dashboard Totals</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="list-card-control-panel">
          <mat-card>
            <div class="list-card-control-panel-content-item">
              <div class="list-card-control-panel-content-item-key">
                <label>Characters</label>
              </div>
              <div class="list-card-control-panel-content-item-value">
                <span>60</span>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <div class="list-card-control-panel-content-item">
              <div class="list-card-control-panel-content-item-key">
                <label>Episodes</label>
              </div>
              <div class="list-card-control-panel-content-item-value">
                <span>10</span>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <div class="list-card-control-panel-content-item">
              <div class="list-card-control-panel-content-item-key">
                <label>Locations</label>
              </div>
              <div class="list-card-control-panel-content-item-value">
                <span>50</span>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mb-2 w-100">
    <mat-card>
      <mat-card-header>
        <h2>Chart of Character per Episode</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="list-card-control-panel">
          <mat-card>
            <div class="list-card-control-panel-content-item">
              <div class="list-card-control-panel-content-item-key">
                <label>Characters</label>
              </div>
              <div class="list-card-control-panel-content-item-value">
                <span>60</span>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <div class="list-card-control-panel-content-item">
              <div class="list-card-control-panel-content-item-key">
                <label>Episodes</label>
              </div>
              <div class="list-card-control-panel-content-item-value">
                <span>10</span>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <div class="list-card-control-panel-content-item">
              <div class="list-card-control-panel-content-item-key">
                <label>Locations</label>
              </div>
              <div class="list-card-control-panel-content-item-value">
                <span>50</span>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mb-2 w-100">
    <mat-card>
      <mat-card-header>
        <h2>Chart of Character per Location</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="list-card-control-panel">
          <mat-card>
            <div class="list-card-control-panel-content-item">
              <div class="list-card-control-panel-content-item-key">
                <label>Characters</label>
              </div>
              <div class="list-card-control-panel-content-item-value">
                <span>60</span>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <div class="list-card-control-panel-content-item">
              <div class="list-card-control-panel-content-item-key">
                <label>Episodes</label>
              </div>
              <div class="list-card-control-panel-content-item-value">
                <span>10</span>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <div class="list-card-control-panel-content-item">
              <div class="list-card-control-panel-content-item-key">
                <label>Locations</label>
              </div>
              <div class="list-card-control-panel-content-item-value">
                <span>50</span>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
