<div class="container">
  <div class="mb-2 w-100">
    <mat-card>
      <mat-card-header>
        <h2>Dashboard Totals</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="list-card">
          <mat-card>
            <div class="list-card-content-item">
              <div class="list-card-content-item-key">
                <label>Characters</label>
              </div>
              <div class="list-card-content-item-value">
                <span>{{ totalOfCharacters }}</span>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <div class="list-card-content-item">
              <div class="list-card-content-item-key">
                <label>Episodes</label>
              </div>
              <div class="list-card-content-item-value">
                <span>{{ totalOfEpisodes }}</span>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <div class="list-card-content-item">
              <div class="list-card-content-item-key">
                <label>Locations</label>
              </div>
              <div class="list-card-content-item-value">
                <span>{{ totalOfLocations }}</span>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mb-2 w-100">
    <mat-card>
      <mat-card-header>
        <h2>Chart of Character per Episode</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="w-100">
          <canvas id="chartEpisode">{{ chartEpisode }}</canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mb-2 w-100">
    <mat-card>
      <mat-card-header>
        <h2>Chart of Character per Location</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="chart-container">
          <canvas id="chartLocation">{{ chartLocation }}</canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
