<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Rick and Morty</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/character']">Character</button>
      <button mat-menu-item [routerLink]="['/episode']">Episode</button>
      <button mat-menu-item [routerLink]="['/location']">Location</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
