/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
}

.container-list {
  color: #fff;
  margin: 1rem;

  mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    img {
      margin-bottom: 1rem;
    }
    mat-card-header {
      width: 90%;
      margin-bottom: 1rem;
    }
  }

  @media screen and (min-width: 601px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5rem;

    mat-card {
      margin: 1rem;
      max-width: 600px;
      max-height: 400px;
      img {
        height: 250px;
        width: 250px;
        border-radius: 1rem;
      }
    }
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;

    mat-card {
      display: flex;
      width: 100%;
      height: auto;
      img {
        border-radius: 1rem;
      }
    }
  }

  .container-list-card-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-list-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
